<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Health Alert</title>

        <!-- STYLESHEETS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"
        />
        <link rel="stylesheet" href="bulmaStyles.css" />
        <link rel="stylesheet" href="modal.css" />
        <link rel="stylesheet" href="style.css" />

        <!-- SCRIPTS -->

        <!-- jQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="index.js"></script>

        <!-- Ionicons -->
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule=""
            src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
        ></script>
    </head>
    <body>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Side column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Proin ornare magna eros, eu pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam
                            finibus odio quis feugiat facilisis.
                        </p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-8">
                <article class="tile is-child box">
                    <p class="title">Main column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Proin ornare magna eros, eu pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam
                            finibus odio quis feugiat facilisis.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </body>
</html>
